---
- name: Configure core-site.xml
  lineinfile:
    path: /usr/local/hadoop/{{ hadoop_version }}/etc/hadoop/core-site.xml
    insertafter: "<configuration>"
    line: "<property>
      \n\t <name>fs.default.name</name>
      \n\t <value>hdfs://localhost:9000</value>
        \n </property>"

- name: Configure hdfs-site.xml Namenode space
  lineinefile:
    path: /usr/local/hadoop/{{ hadoop_version }}/etc/hadoop/core-site.xml
    insertafter: "<configuration>"
    line: "<property>
      \n\t <name>dfs.namenode.name.dir</name>
      \n\t <value>file:/usr/local/hadoop_space/hdfs/namenode</value>
        \n </property>"

- name: Configure hdfs-site.xml Replication Factor
  lineinfile:
    path: /usr/local/hadoop/{{ hadoop_version }}/etc/hadoop/core-site.xml
    insertafter: "<configuration>"
    line: "<property>
      \n\t <name>dfs.replication</name>
      \n\t <value>3</value>
        \n </property>"

- name: Configure hdfs-site.xml Datanode space
  lineinfile:
    path: /usr/local/hadoop/{{ hadoop_version }}/etc/hadoop/core-site.xml
    insertafter: "<configuration>"
    line: "<property>
      \n\t <name>dfs.datanode.data.dir</name>
      \n\t <value>file:/usr/local/hadoop_space/hdfs/datanode</value>
        \n </property>"

- name: Configure yarn-site.xml aux-services
  lineinfile:
    path: /usr/local/hadoop/{{ hadoop_version }}/etc/hadoop/yarn-site.xml
    insertafter: "<configuration>"
    line: "<property>
      \n\t <name>yarn.nodemanager.aux-services</name>
      \n\t <value>mapreduce_shuffle</value>
        \n </property>"

- name: Configure yarn-site.xml aux-services shuffle class
  lineinfile:
    path: /usr/local/hadoop/{{ hadoop_version }}/etc/hadoop/yarn-site.xml
    insertafter: "<configuration>"
    line: "<property>
      \n\t <name>yarn.nodemanager.aux-services.mapreduce.shuffle.class</name>
      \n\t <value>org.apache.hadoop.mapred.ShuffleHandler</value>
        \n </property>"

- name: Copy mapred-site.xml template
  copy:
    src: /usr/local/hadoop/{{ hadoop_version }}/etc/hadoop/mapred-site.xml.template
    dest: /usr/local/hadoop/{{ hadoop_version }}/etc/hadoop/mapred-site.xml
    remote_src: yes

- name: Configure mapred-site.xml MapReduce framework
  lineinfile:
    path: /usr/local/hadoop/{{ hadoop_version }}/etc/hadoop/mapred-site.xml
    insertafter: "<configuration>"
    line: "<property>
      \n\t <name>mapreduce.framework.name</name>
      \n\t <value>yarn</value>
        \n </property>"

- name: Create namenode space directories
  file:
    path: /usr/local/hadoop_space/hdfs/namenode
    state: directory
    mode: '0755'
    owner: hadoopusr
    group: hadoop
    recurse: yes

- name: Create datanode space directories
  file:
    path: /usr/local/hadoop_space/hdfs/datanode
    state: directory
    mode: '0755'
    owner: hadoopusr
    group: hadoop
    recurse: yes