---
- name: Create Hadoop directory
  file:
    path: /usr/local/hadoop
    state: directory
    mode: '0755'

- name: Create Hadoop dedicated group
  group:
    name: hadoop
    state: present

- name: Create Hadoop dedicated user
  user:
    name: hadoopusr
    password: "{{ usr_password | password_hash('sha512', password_salt) }}"
    group: hadoop
    shell: /bin/bash
    create_home: yes

- name: Create JAVA_HOME env variable
  lineinfile:
    path: ~/.bashrc
    line: export JAVA_HOME=/usr/lib/jvm/jre-1.8.0
  become: yes
  become_user: hadoopusr

- name: Source bashrc file
  shell: source ~/.bashrc
  register: source_bashrc
  failed_when: source_bashrc.rc != 0
  become: yes
  become_user: hadoopusr